/* -------- Global -------- */
body {
    margin: auto;
    padding: 0;
}

html {
    box-sizing: border-box;
}

* {
    text-decoration: none;
    list-style: none;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

a {
    display: block;
    text-decoration: none;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: inline-block;
}

button, svg {
    margin: 0;
    padding: 0;
}

h1,
h2,
.team-name {
    margin: 0;
    padding: 0;
    font-family: 'Grand Hotel', cursive;
}

p {
    margin: 0;
    padding: 0;
}

figcaption,
figure {
    padding: 0;
    margin: 0;
}

.svg{
    display: none;
}

/* -------- Styles Sections -------- */

.black-coffes,
.hot-coffee,
.white-coffee,
.voucher,
.customer-reviews,
.open {
    box-sizing: border-box;
    padding-left: 160px;
    padding-right: 160px;
}

.black-coffes,
.hot-coffee,
.white-coffee,
.customer-reviews-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.figure-black-coffee {
    padding-top: 20px;
    width: 537px;
}

.figure-hot-coffee,
.figure-white-coffee {
    width: 505px;
}

.img-section {
    margin-bottom: 20px;
}

@media (min-width: 480px) {

    header,
    section,
    footer {
        max-width: 480px;
        margin: auto;
    }
}

@media (min-width: 768px) {

    header,
    section,
    footer {
        max-width: 768px;
        margin: auto;
    }
}

@media (min-width: 1024px) {

    header,
    section,
    footer {
        max-width: 1024px;
        margin: auto;
    }
}

@media (min-width: 1440px) {

    header,
    section,
    footer {
        max-width: 1440px;
        margin: auto;
    }
}


/* -------- Background -------- */

header,
.hot-coffee,
.white-coffee,
.voucher,
.customer-reviews,
.branches-section {
    background-color: #212731;
}

.black-coffes,
.open {
    background-color: #29a19c;
}

footer {
    background-color: #29a19c;
}
header, section{
    position: relative;
    z-index: 100;
}

.svg{
    position: absolute;
    content: " ";
    fill: #51565e;
}

/* -------- Images -------- */

header {
    height: 820px;
    background-image: url(../img/bpage1.png), url(../img/coffee1.png);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, bottom right;
    background-size: 130%, 820px;
}

.logo-img{
    fill: #fff;
    transform: rotate(0.92turn);
}

.hot-coffee {
    background-image: url(../img/bpage2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
}

.customer-reviews {
    background-image: url(../img/bpage3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    padding-top: 100px;
    padding-bottom: 230px;
}

.branches-section{
    background-image: url(../img/bpage2.png), url(../img/bpage4.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
    background-size: 100%;
}

.img-voucher {
    width: 900px;
    padding-right: 25px;
}

.img-branches {
    margin-bottom: 35px;
}

.team-img {
    padding: 20px;
}

.team-img,
.team-name {
    margin-bottom: 20px;
}

/* -------- Button -------- */

.button-light {
    font-size: 33px;
    font-weight: 700;
    padding: 4px 20px;
    border-radius: 20px;
    background-color: #29a19c;
    border: 4px solid #29a19c;
}

.button-light:hover {
    outline: none;
    background: transparent;
    border: 4px solid #29a19c;
    cursor: pointer;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-dark {
    font-size: 33px;
    font-weight: 700;
    padding: 4px 20px;
    border-radius: 20px;
    background-color: #212731;
    border: 4px solid #212731;
}

.button-dark:hover {
    outline: none;
    background: transparent;
    border: 4px solid #212731;
    cursor: pointer;
    color: #212731;
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* -------- Header -------- */

.burger {
    display: none;
    fill: #fff;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 255px;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 700;
}

.nav-header,
.nav-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-link {
    position: relative;
}

.active::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 72px;
    bottom: 0;
    left: 3px;
    background-color: #29a19c;

}

.nav:not(:last-child) {
    margin-right: 50px;
}

.content {
    padding: 50px;
}

/* -------- Black Coffes -------- */

.black-coffes {
    padding-top: 50px;
}

/* -------- Hot Coffee -------- */

.hot-coffee {
    padding-top: 130px;
    padding-bottom: 50px;
}

.hot-block-right {
    text-align: right;
}


/* -------- White Coffee -------- */
.white-coffee{
    padding-bottom: 50px;
}


/* -------- Voucher -------- */

.voucher {
    padding-bottom: 50px;
}

/* -------- Customer Reviews -------- */

.team {
    width: 485px;
    text-align: center;
}


/* -------- Open -------- */

.schedule{
    margin-bottom: 100px;
}
.schedule:last-child{
    margin-bottom: 0;
}

.open{
    padding-bottom: 50px;
    margin-top: -2px;
    
}


/* -------- Branches -------- */

.branches-section{
    padding-top: 160px;
    padding-bottom: 160px;
}

.branches-block{
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.comment{
    position: relative;
    background-color: #29a19c;
    border: 4px solid #29a19c;
    margin-left: 55px;
    margin-right: 55px; 
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.comment:after{
    top: 39px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #29a19c;
    border-width: 30px 15px;
    left: 0;
}

/* -------- Footer ------ */

.info-block{
    display: flex;
    justify-content: space-between;
    align-items: start;
padding: 50px;
}

.info-block-right{
    display: flex;
}

.section-info{
    margin-right: 120px;
}

.footer{
    border-bottom: 10px solid #212731;
}

.soc-footer-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.soc{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    fill: #ffffff;
}

.soc:hover{
    background-color: #212731;
}

.soc-footer:not(:last-child){
margin-right: 10px;
}

.active-footer::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 72px;
    bottom: 0;
    left: 3px;
    background-color: #fff;
}

/* ----------------------- Media -------------------------- */
/* 

@media (max-width:767px) {
    .nav {
        display: none;
    }

    .nav-header {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .burger {
        display: block;
    }

    header {
        height: 470px;
        width: 100%;
        background-size: 130%, 300px;
        margin: auto;
    }

    .logo-img {
        justify-content: end;
        width: 40px;
        height: 40px;
    }

    .nav-header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .nav:not(:last-child) {
        margin-right: 40px;
    }

    .content {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 0;
        padding-bottom: 50px;
    }

    .active::before {
        width: 90%;
    }
    .info-block-right {
        display: none;
    }
    .branches-block {
        flex-wrap: wrap;
        justify-content: center;
    }
    .customer-reviews-block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .button-light,
    .button-dark {
        font-size: 20px;
        padding: 3px 12px;
    }
    .img-section {
        width: 250px;
    }

    .img-voucher {
        width: 400px;
        padding-right: 0;
    }

    .team-img {
        width: 350px;
    }

    .img-branches {
        margin-bottom: 10px;
    }

    .team-img {
        padding: 0;
    }

    .team-img,
    .team-name {
        margin: bottom 0;
    }

    .black-coffes,
    .hot-coffee,
    .white-coffee,
    .voucher,
    .customer-reviews,
    .open {
        padding-left: 15px;
        padding-right: 15px;
    }


}

@media (min-width:768px) and (max-width:1440px) {
    header {
        height: auto;
        width: 100%;
        background-size: 130%, 500px;
        margin: auto;
    }

    .logo-link {
        font-size: 25px;
        justify-content: space-evenly;
    }

    .logo-img {
        justify-content: end;
        width: 30px;
        height: 30px;
    }

    .nav-header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .black-coffes,
    .hot-coffee,
    .white-coffee,
    .voucher,
    .customer-reviews,
    .open {
        padding-left: 80px;
        padding-right: 80px;
    }
    .active-footer::before{
        width: 90%;
    }
    .soc{
        width: 20px;
        height: 20px;
    }
    .info-block{
        padding-top: 0;
        padding-bottom: 0;
    }
    .branches-block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .branches-list {
        width: 45%;
    }

    .branches-list:first-child {
        margin-right: 40px;
    }

    .branches-list:last-child {
        margin-top: 40px;
    }

    .branches-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .customer-reviews-block {
        flex-wrap: wrap;
        justify-content: center;
    }

    .customer-reviews {
        padding-top: 50px;
        padding-bottom: 150px;
    }

    .team:last-child {
        margin-top: 50px;
    }

    .voucher {
        padding-top: 50px;
    }

    .figure-white-coffee {
        width: 100%;
    }

    .white-coffee {
        padding-top: 50px;
    }
    .schedule {
        margin-bottom: 50px;
    }
    .figure-hot-coffee {
        width: 100%;
    }
    .black-coffes {
        padding-bottom: 20px;
        padding-top: 50px;
        flex-basis: 100%;
    }

    .figure-black-coffee {
        width: 100%;
        padding: 0;
    }

    .figure-black-coffee,
    .figure-hot-coffee,
    .figure-white-coffee {
        width: auto;
    }

    .button-light,
    .button-dark {
        font-size: 17px;
        padding: 2px 10px;
    }

    .img-section {
        width: 300px;
    }

    .img-voucher {
        width: 550px;
    }

    .team-img {
        width: 350px;
    }

    .img-branches {
        margin-bottom: 20px;
    }

    .team-img {
        padding: 0;
    }

    .team-img,
    .team-name {
        margin: bottom 0;
        ;
    }





}
 */
