.about-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.accordion{

}
.title-about{
    display: flex;
    justify-content: center;
}

.accordion-header{
    font-size: 50px;
}
