.about-section {
    position: relative;
    text-align: center;
    height: 500px;
    width: 100%;

}

.accordion {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.title-about {
    margin-bottom: 50px;
}

.accordion-header {
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
    width: 300px;
    font-size: 35px;
    margin-bottom: 20px;
}

.accordion-content {
    width: 300px;

}

.text-about {
    padding: 0 20px;
}

@media (max-width:767px) {
    .about-section {
        height: 400px;
    }

    .accordion {
        display: inline-block;
        margin: auto;
        padding: 0 20px;
    }

    .accordion-item {
        margin: auto;
        text-align: center;
    }

    .title-about {
        font-size: 60px;
        margin-bottom: 30px;
    }

    .accordion-header {
        width: 100%;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .accordion-content {
        width: 250px;
    }

    .text-about {
        font-size: 10px;
        margin-bottom: 20px;
    }
}

@media (min-width:768px) and (max-width:1439px) {

    .about-section {
        height: 500px;
    }

    .accordion {
        display: inline-block;
        margin: auto;
        padding: 0 50px;
    }

    .accordion-item {
        margin: auto;
        text-align: center;
    }

    .title-about {
        margin-bottom: 20px;
    }

    .accordion-header {
        width: 100%;
        font-size: 25px;
        margin-bottom: 20px;
    }

    .accordion-content {
        width: 400px;
    }

    .text-about {
        margin-bottom: 20px;
    }
}