/* -------- Header -------- */

.burger {
    display: none;
    fill: #fff;
}

.nav-header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    width: 255px;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 700;
}

.nav-header,
.nav-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-link {
    position: relative;
}

.active::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 90%;
    bottom: 0;
    left: 3px;
    background-color: #29a19c;

}

.nav:not(:last-child) {
    margin-right: 50px;
}

.content {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 140px;

}

@media (max-width:767px) {
    .burger{
        display: block;
    }
    .coffee1{
        width: 70%;
    }

    .nav-header{
        display: flex
    }

    .nav-list{
        padding-left: 20px;
        padding-right: 20px;
        position:absolute;
        top: 0;
        left: 0;
    }

    .nav{

    }
  
    .nav:not(:last-child){
        margin-right: 15px;;
    }

    header {
        width: 100%;
        margin: auto;
    }

    .logo-img {
        justify-content: end;
        width: 40px;
        height: 40px;
    }

    .content {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 25px;
        padding-bottom: 140px;
    }

}

@media (min-width:768px) and (max-width:1440px) {

    .nav:not(:last-child) {
        margin-right: 30px;
    }
    .logo-link {
        width: auto;
        font-size: 25px;
        justify-content: space-evenly;
    }

    .logo-img {
        justify-content: end;
        width: 30px;
        height: 30px;
    }

    .nav-header {
        padding-left: 30px;
        padding-right: 30px;
    }
}
