
.nav-header {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 100;
    width: 100%;
    margin: auto;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 50px;
}

.logo-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 255px;
    font-size: 35px;
    letter-spacing: -2px;
    font-weight: 700;
}

.nav-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-link {
    position: relative;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before{
    position: absolute;
    content: "";
    height: 3px;
    width: 90%;
    bottom: -3px;
    left: 3px;
    background-color: #29a19c;
    border-radius: 2px;
}

.nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.active::before {
    position: absolute;
    content: "";
    height: 3px;
    width: 90%;
    bottom: -3px;
    left: 3px;
    background-color: #29a19c;
    border-radius: 2px;

}

.nav:not(:last-child) {
    margin-right: 100px;
}

.content {
    margin-top: 80px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 140px;
}

// ---------------------- Burger ---------------

#checkbox-toggle{
    display: none;
}

.burger{
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.burger-line{
    background-color: #fff;
    display: block;
    height: 2px;
    width: 24px;
    position: relative;
    border-radius: 2px;
}
.burger-line::after, 
.burger-line::before{
    background-color: #fff;
    content: '';
    display: block;
    position: absolute;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}
.burger-line::before{
    top: 7px;
}

.burger-line::after{
    top: -7px;
}

// ---------------------------------------


@media (max-width:767px) {

    .nav-list {
        display: none;
        max-height: 0;
        overflow: hidden;
        position: absolute;
        text-align: center;
        right: 0;
        left: 0;
    }

    .nav-list li{
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }

    .nav-item{
        padding-top: 10px;
        padding-bottom: 10px;
    }

    nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
                padding: 10px 30px;
    }

    #checkbox-toggle:checked ~ .nav-list{
        margin-top: 90px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        max-height: 100%;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    #checkbox-toggle:checked ~ .burger .burger-line{
        background: transparent;
    }

    #checkbox-toggle:checked~.burger .burger-line::before {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
        top: 0;
    }

    #checkbox-toggle:checked~.burger .burger-line::after {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
        top: 0;
    }

    .burger {
        display: block;
        padding: 20px 0;
    }


    .nav-header{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .coffee1{
        width: 70%;
    }

    .nav-header{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .nav-item:not(:last-child){
        margin-right: 15px;;
    }

    header {
        width: 100%;
        margin: auto;
    }

    .logo-img {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
        width: 40px;
        height: 40px;
    }

    .content {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 200px;
        margin-top: 60px;
    }

    .active::before, .nav-link:hover::before {
        position: absolute;
        content: "";
        height: 3px;
        width: 85%;
        bottom: -3px;
        left: 3px;
        background-color: #29a19c;
        transition: 0.3s ease-in-out;
    }

    .nav-header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        background-color: #212731;
    }

    .logo-link{
        width: auto;
    }

}

@media (min-width:768px) and (max-width:1439px) {

    .nav-item:not(:last-child) {
        margin-right: 30px;
    }
    .logo-link {
        width: auto;
        font-size: 25px;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }

    .logo-img {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: end;
        width: 30px;
        height: 30px;
    }

    .nav-header {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media (min-width:1441px){
    .nav-header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .nav-link{
        margin-right: 50px;
    }
}

@media (min-width:1440px) {
    .content {
        padding-bottom: 200px;
    }
    .nav-header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .nav-item{
        margin-right: 40px;
    }
    .logo-link{
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: auto;
    }
}