.black-coffes {
    position: relative;
}


.hot-coffee {
    position: relative;
    padding-top: 100px;
    padding-bottom: 50px;
}

.hot-block-right {
    position: relative;
    text-align: right;
}


.white-coffee {
    position: relative;
    padding-bottom: 50px;
}

.voucher {
    position: relative;
    padding-bottom: 50px;
}

.team {
    position: relative;
    width: 485px;
    text-align: center;
}

.customer-reviews {
    position: relative;
    padding-top: 20px;
    padding-bottom: 230px;
}


.schedule {
    position: relative;
    margin-bottom: 100px;
}

.schedule:last-child {
    margin-bottom: 0;
}

.open {
    position: relative;
    padding-bottom: 50px;
    margin-top: -2px;

}

.branches-section {
    position: relative;
    padding-top: 160px;
    padding-bottom: 160px;
}

.branches-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.comment {
    position: relative;
    background-color: #29a19c;
    border: 4px solid #29a19c;
    margin-left: 55px;
    margin-right: 55px;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
}

.comment:after {
    top: 39px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #29a19c;
    border-width: 30px 15px;
    left: 0;
}

.blog-section {
    position: relative;
    height: 700px;
    text-align: center;
}

.blog-section h2 {
    margin-bottom: 20px;
}

.gallery {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    width: 70%;
    margin: auto;
    border: 1px solid #29a19c;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.icon {
    opacity: 0.25;
    border: 2px solid #29a19c;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 10px;
    transition: .15s;
}

.prev {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 10px;
}

.next {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 10px;
}

#prev {
    position: absolute;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .15s;
}

#next {
    position: absolute;
    right: 0;
    width: 60px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .15s;
}

#prev:not(.disabled):hover,
#next:not(.disabled):hover {
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#prev:not(.disabled):hover .icon,
#next:not(.disabled):hover .icon {
    opacity: 1;
}

.btn {
    border: 1px solid #29a19c;
    opacity: 0.5;
}

.btn:hover {
    opacity: 1;
}

.description {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    width: 100%;
    text-align: center;
    transition: opacity 0.3s;
    opacity: 0;
}

.description.visible {
    opacity: 0.9;
    display: block;
}

.text-blog {
    padding: 20px 60px;
}

.hidden {
    display: none;
}

.comment {
    transition: transform 1.5s;
    cursor: pointer;
}

.branches-list.active-bran {
    transform: scale(1.07);
    transition: transform 1.5s;
    border-radius: 10px;
}

@media (max-width:767px) {

    .black-coffes {
        padding-bottom: 50px;
    }

    .figure-hot-coffee {
        width: 100%;
    }

    .figure-black-coffee {
        width: 100%;
        padding: 0;
    }

    .figure-black-coffee,
    .figure-hot-coffee,
    .figure-white-coffee {
        width: 100%;
    }

    .branches-block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .customer-reviews {
        padding-bottom: 80px;
    }

    .schedule {
        margin-bottom: 40px;
    }

    .open {
        padding-top: 50px;
    }

    .team {
        margin-bottom: 25px;
    }


    .branches-section {
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .branches-list {
        margin-bottom: 20px;
    }

    .customer-reviews-block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }


    .hot-coffee {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .white-coffee {
        padding-top: 50px;
    }

    .button-light,
    .button-dark {
        font-size: 20px;
        padding: 3px 12px;
    }

    .img-section {
        width: 100%;
    }

    .img-voucher {
        width: 100%;
        padding-right: 0;
    }

    .team-img {
        width: 70%;
    }

    .img-branches {
        margin-bottom: 10px;
    }

    .team-img {
        padding: 0;
    }

    .team-img,
    .team-name {
        margin: bottom 0;
    }

    .black-coffes,
    .hot-coffee,
    .white-coffee,
    .voucher,
    .customer-reviews,
    .open {
        padding-left: 15px;
        padding-right: 15px;
    }

    .backg1 {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 113%;
    }

    .blog-section {
        position: relative;
        height: 500px;
        text-align: center;
    }

    .gallery {
        width: 100%;
        height: 250px;
    }
}

@media (min-width:768px) and (max-width:1439px) {

    .black-coffes,
    .hot-coffee,
    .white-coffee,
    .voucher,
    .customer-reviews,
    .open {
        padding-left: 80px;
        padding-right: 80px;
        margin-top: -1px;
    }


    .branches-block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .branches-list {
        width: 45%;
    }

    .branches-list:first-child {
        margin-right: 40px;
    }

    .branches-list:last-child {
        margin-top: 40px;
    }

    .branches-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .customer-reviews-block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .customer-reviews {
        padding-bottom: 200px;
    }

    .team:last-child {
        margin-top: 50px;
    }

    .voucher {
        padding-top: 50px;
    }

    .figure-white-coffee {
        width: 100%;
    }

    .white-coffee {
        padding-top: 50px;
    }

    .schedule {
        margin-bottom: 50px;
    }

    .black-coffes {
        padding-bottom: 20px;
        padding-top: 50px;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .figure-hot-coffee {
        width: 100%;
    }

    .figure-black-coffee {
        width: 100%;
        padding: 0;
    }

    .figure-black-coffee,
    .figure-hot-coffee,
    .figure-white-coffee {
        width: 100%;
    }

    .button-light,
    .button-dark {
        font-size: 17px;
        padding: 2px 10px;
    }

    .img-section {
        width: 100%;
    }

    .img-voucher {
        width: 100%;
    }

    .team-img {
        width: 70%;
    }

    .img-branches {
        margin-bottom: 20px;
    }

    .team-img {
        padding: 0;
    }

    .team-img,
    .team-name {
        margin: bottom 0;
        ;
    }

    .gallery {
        width: 100%;
    }

    .blog-section {
        height: 660px;
    }
}

@media (min-width:1440px) {
    .customer-reviews-block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}