/* -------- Global -------- */
body {
    margin: auto;
    padding: 0;
    min-width: 375px;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    text-decoration: none;
    list-style: none;
    font-family: 'Grand Hotel', cursive;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

a {
    display: inline-block;
    text-decoration: none;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

img {
    display: inline-block;
}

button,
svg {
    z-index: 2;
    transition: transform 0.5s ease-out;
    margin: 0;
    padding: 0;
}

h1,
h2,
.team-name {
    margin: 0;
    padding: 0;
    font-family: 'Grand Hotel', cursive;
}

p {
    margin: 0;
    padding: 0;
}

figcaption,
figure {
    padding: 0;
    margin: 0;
}

.black-coffes,
.hot-coffee,
.white-coffee,
.voucher,
.customer-reviews,
.open {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 160px;
    padding-right: 160px;
}

.black-coffes,
.hot-coffee,
.white-coffee,
.customer-reviews-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}

.figure-black-coffee {
    padding-top: 20px;
    width: 537px;
}

.figure-hot-coffee,
.figure-white-coffee {
    width: 505px;
}

.img-section {
    margin-bottom: 20px;
}

@media (min-width: 320px) {

    header,
    section,
    footer,
    .nav-header {
        max-width: 320px;
        margin: auto;
    }

}

@media (min-width: 375px) {

    header,
    section,
    footer,
    .nav-header,
    .about-section {
        max-width: 375px;
        margin: auto;
    }
}

@media (min-width: 768px) {

    header,
    section,
    footer,
    .nav-header,
    .about-section {
        max-width: 768px;
        margin: auto;
    }
}

@media (min-width: 1440px) {

    header,
    section,
    footer,
    .nav-header,
    .about-section {
        max-width: 1440px;
        margin: auto;
    }
}


header,
.hot-coffee,
.white-coffee,
.voucher,
.customer-reviews,
.branches-section,
.blog-section,
.about-section {
    background-color: #212731;
    overflow: hidden;
}

.black-coffes,
.open {
    background-color: #29a19c;
    overflow: hidden;
}

footer {
    background-color: #29a19c;
    overflow: hidden;
}

header,
section {
    position: relative;
}

.svg {
    position: absolute;
    content: " ";
    fill: #51565e;
}


.backg1 {
    position: absolute;
    bottom: -2px;
    z-index: 4;
    width: 113%;
    pointer-events: none;
}

.coffee1 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    width: 50%;
    pointer-events: none;
}

.backg2 {
    position: absolute;
    z-index: 2;
    top: -2px;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.backg3 {
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.backg4 {
    position: absolute;
    z-index: 2;
    bottom: -2px;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.backg5 {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 190%;
    pointer-events: none;
}

.logo-img {
    fill: #fff;
    -webkit-transform: rotate(0.92turn);
    -ms-transform: rotate(0.92turn);
    transform: rotate(0.92turn);
}

.img-voucher {
    width: 800px;
    padding-right: 25px;
}

.img-branches {
    margin-bottom: 35px;
}

.team-img {
    padding: 20px;
}

.team-img,
.team-name {
    margin-bottom: 20px;
}

.button-light {
    font-size: 33px;
    font-weight: 700;
    padding: 4px 20px;
    border-radius: 20px;
    background-color: #29a19c;
    border: 4px solid #29a19c;

}

.button-light:hover {
    outline: none;
    background: transparent;
    border: 4px solid #29a19c;
    cursor: pointer;
    -webkit-transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-dark {
    font-size: 33px;
    font-weight: 700;
    padding: 4px 20px;
    border-radius: 20px;
    background-color: #212731;
    border: 4px solid #212731;
}

.button-dark:hover {
    outline: none;
    background: transparent;
    border: 4px solid #212731;
    cursor: pointer;
    color: #212731;
    -webkit-transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.leaflet-control-zoom-out span,
.leaflet-control-zoom-in span{
    color: #212731;
}

@media (max-width:767px) {

    .button-light {
        border: 2px solid #29a19c;
    }

    .button-dark {
        border: 2px solid #212731;
    }

    .button-light:hover {
        border: 2px solid #29a19c;
    }

    .button-dark:hover {
        border: 2px solid #212731;
    }

    .backg5 {
        margin-top: 40px;
    }
}