.text-header {
    width: 460px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 30px;
}

.headline {
    font-size: 33px;
    font-weight: 700;
    margin-bottom: 20px;
}

.title-main {
    font-size: 153px;
    font-weight: 400;
    margin-bottom: 30px;
}

.nav-list {
    font-size: 25px;
    font-weight: 700;
}

.title-section {
    width: 300px;
    font-size: 125px;
    font-weight: 400;
    margin-bottom: 90px;
    line-height: 120px;
}

.title-voucher {
    font-size: 125px;
    font-weight: 400;
    line-height: 120px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.title-small {
    font-size: 88px;
    line-height: 40px;
    font-weight: 400;
    margin-bottom: 100px;
}

.team-name {
    font-size: 50px;
    font-weight: 400;
}

.text-team {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 28px;
}

.title-open {
    font-size: 98px;
    line-height: 90px;
    font-weight: 400;
    margin-bottom: 100px;
    margin-top: 60px;
}

.week {
    font-size: 38px;
    font-weight: 700;
}

.time {
    font-size: 38px;
}

.title-branches {
    font-size: 88px;
    letter-spacing: 4px;
    font-weight: 400;
}

.text-branches {
    width: 350px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 28px;
}

.info,
.contact {
    font-size: 33px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 25px;
}

.supp-link,
.address-link,
.link-info {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 35px;
    margin-left: 10px;
}

.link-info {
    letter-spacing: 2px;
    line-height: 35px;
}

.link-info:hover,
.supp-link:hover {
    color: #212731;
    font-weight: 600;
}

.text-content {
    font-size: 21px;
    line-height: 39px;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.comment {
    font-size: 33px;
    letter-spacing: 2px;
    line-height: 28px;
    font-weight: 700;
}

.title-form {
    font-size: 60px;
    line-height: 120px;
    font-weight: 400;
    padding: 50px;
}


@media (max-width:767px) {

    .nav-list {
        font-size: 0;
    }

    .nav-link {
        font-size: 10px;
    }

    .logo-link {
        font-size: 22px;
    }

    .title-main {
        font-size: 80px;
        margin-bottom: 20px;
    }

    .headline {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .text-header {
        font-size: 9px;
        width: 80%;
        margin-bottom: 20px;
    }

    .title-section {
        font-size: 60px;
        line-height: 90px;
        margin-bottom: 55px;
        width: 180px;
    }

    .text-content {
        font-size: 8px;
        width: 100%;
        line-height: 18px;
    }

    .title-voucher {
        font-size: 60px;
        line-height: 80px;
        margin-bottom: 15px;
    }

    .title-small {
        font-size: 70px;
        margin-bottom: 50px;
        line-height: 58px;
    }

    .title-open {
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 50px;
    }

    .week,
    .time {
        font-size: 25px;
    }

    .text-team {
        font-size: 13px;
    }

    .text-branches {
        width: 100%;
        font-size: 13px;
        letter-spacing: 0;
    }

    .comment {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .title-branches {
        font-size: 70px;
        margin-bottom: 20px;
    }

    .contact,
    .info {
        font-size: 12px;
    }

    .title-form {
        font-size: 30px;
        line-height: 20px;
        padding-top: 70px;
        padding-bottom: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .address {
        font-size: 7px;
        line-height: 3px;
    }

    .supp-link,
    .link-info {
        font-size: 10px;
        line-height: 3px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-left: 10px;
    }

    .link-info {
        letter-spacing: 2px;
        // line-height: 15px;
    }
}

@media (min-width:768px) and (max-width:1439px) {
    .nav-list {
        font-size: 18px;
    }

    .logo-link {
        font-size: 18px;
    }

    .title-main {
        font-size: 100px;
        margin-bottom: 15px;
    }

    .headline {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .text-header {
        font-size: 12px;
        width: 38%;
        margin-bottom: 15px;
    }

    .title-section {
        font-size: 90px;
        line-height: 90px;
        margin-bottom: 55px;
    }

    .text-content {
        font-size: 15px;
        width: 100%;
        line-height: 30px;
    }

    .title-voucher {
        font-size: 85px;
        line-height: 80px;
        margin-bottom: 15px;
    }

    .title-small {
        font-size: 70px;
        margin-bottom: 50px;
    }

    .title-open {
        font-size: 75px;
        line-height: 80px;
        margin-bottom: 50px;
    }

    .week,
    .time {
        font-size: 30px;
    }

    .text-team {
        font-size: 17px;
    }

    .text-branches {
        width: 100%;
        font-size: 13px;
        letter-spacing: 0;
    }

    .comment {
        font-size: 25px;
        margin-bottom: 30px;
    }

    .title-branches {
        font-size: 70px;
        margin-bottom: 20px;
    }

    .contact,
    .info {
        font-size: 20px;
    }

    .link-info,
    .supp-link,
    .address-link {
        font-size: 15px;
    }

    .title-form {
        font-size: 49px;
        line-height: 40px;
        padding-top: 70px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width:1440px) {
    .title-main {
        font-size: 140px;
        padding-bottom: 25px;
    }

    .text-header {
        font-size: 23px;
        line-height: 40px;
    }
}